<!doctype html>
<html ng-app="hyperionApp">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="./jquery.jsPlumb-1.5.4.js"></script>
<script type="text/javascript" src="./angular.min.js"></script>
<script type="text/javascript" src="./angular-sanitize.js"></script>
<script type="text/javascript" src="./angular-uuid.js"></script>
<script type="text/javascript" src="./ui-bootstrap-tpls-2.5.0.min.js"></script>
<script type="text/javascript" src="./jsondiffpatch.min.js"></script>
<script type="text/javascript" src="./jsondiffpatch-formatters.min.js"></script>
<script type="text/javascript" src="./hyperion.js"></script>
<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="./css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="./css/jsondiffpatch-html.css">
<link rel="stylesheet" type="text/css" href="hyperion.css">
<body ng-controller="BoardController">
<ul class="nav nav-pills" ng-init="activeTab = 'landscape'">
    <li ng-class="(activeTab == 'landscape') ? 'active' : ''" ng-click="activeTab = 'landscape'"><a href="#">Landscape</a>
    </li>
    <li ng-class="(activeTab == 'dashboard') ? 'active' : ''" ng-click="activeTab = 'dashboard'"><a href="#">Dashboard</a>
    </li>
    <li class="pull-right" ng-click="shutdown()"><a href="#">Shutdown</a></li>
</ul>
<div ng-show="activeTab == 'landscape'" id="landscape_content">
    <div id="menu" class="menu container">
        <div>
            <ul>
                <li class="btn btn-hyperion" ng-click="addClicked()">Add</li>
                <li class="btn btn-hyperion" ng-click="connectClicked()">Connect</li>
                <li class="btn btn-hyperion" ng-click="diffClicked()">Diff</li>
                <li class="btn btn-hyperion" ng-click="commitClicked()">Commit</li>
                <li class="btn btn-hyperion" ng-click="loadClicked()">Load</li>
            </ul>

        </div> <!-- buttons -->
        <div ng-show="context.adding">
            <p>Click on the configboard to add new item</p>
            <div class="form-group">
                <label for="nodename"> Name:</label>
                <input class="form-control" id="nodename" value="{{context.nodeProperties.name}}"
                       ng-model="context.nodeProperties.name"/>
            </div>
            <div class="form-group">
                <label for="nodetype"> Type:</label>
                <select class="form-control" id="nodeType"
                        ng-options="nodeType as nodeType.name for nodeType in context.nodeProperties.types"
                        ng-model="context.nodeProperties.selectedType" ng-change="context.setOptions()"></select>
            </div>
            <div ng-show="context.nodeProperties.hasOptions">
                <!--<div ng-repeat="(optionName, optionValue) in context.nodeProperties.selectedOptions">
                   {{optionName}} : <input value="{{optionValue}}" ng-model="optionValue" />
                   <br/>
                </div> -->
                <div class="form-group"
                     ng-repeat='(optionName, optionValue) in context.nodeProperties.selectedOptions track by optionName'>
                    <label class="capitalize"> {{optionName}}:</label> <input class="form-control" type='text'
                                                                              ng-model='context.nodeProperties.selectedOptions[optionName]'>
                </div>
            </div>
            </form>
        </div> <!-- node adding options -->
        <div id="connect_properties" ng-show="context.connecting">
            <div ng-show="!context.firstItem">
                Connecting ...
            </div>
            <div ng-show="context.firstItem">
                Connecting {{context.firstItem}} to ...
            </div>
        </div>

        <div id="selected_properties" class="properties" ng-show="context.selected">
            Name: {{context.nodeProperties.selectedItem.content.name}} <br/>
            Type: {{context.nodeProperties.selectedItem.content.typeName}} <br/>
            <div ng-repeat="(optionName, optionValue) in context.nodeProperties.selectedItem.content.options">
                {{optionName}} : {{optionValue}}
                <br/>
            </div>
            <br/>
            Left : {{context.nodeProperties.selectedItem.left }} <br/>
            Top : {{context.nodeProperties.selectedItem.top }} <br/>

        </div> <!-- properties -->

        <div class="alert-error">
            {{ context.error }}
        </div>

    </div> <!-- menu -->

    <div id="landscape" class="landscape" ng-click="containerClicked($event)">
        <div id="{{item.id}}" class="node" hyperion-node ng-repeat="item in items"
             ng-style="{'top': item.top, 'left': item.left }" ng-click="elementClicked($event)" ng-init="showbuttons = false" ng-mouseover="showbuttons = true" ng-mouseleave="showbuttons = false">
            <div class="node-name">{{item.content.name}}</div>
            <div class="node-type">{{item.content.typeName}}</div>
            <div class="pull-right node-button" ng-show="showbuttons">
            <div class="node-icon" uib-popover="Remove node" popover-trigger="'mouseenter'" ng-click="remove($event)"><span class="glyphicon glyphicon-remove"></span></div>
            <div class="node-icon" uib-popover="Connect node" popover-trigger="'mouseenter'" ng-click="connect($event)"><span class="glyphicon glyphicon-flash"></span></div>
            <div class="node-icon" uib-popover="Disconnect node" popover-trigger="'mouseenter'" ng-click="disconnect($event)"><span class="glyphicon glyphicon-ban-circle"></span></div>
            </div>
        </div>
    </div>
</div>
<div id="dashboard" class="dashboard" ng-show="activeTab == 'dashboard'">
    <div ng-repeat="dbitem in dashboard.items" class="dashboard-item">
        Name : {{dbitem.name}} <br/>
        <div ng-show="dbitem.iscounter">
            Counter : {{dbitem.counter}}
        </div>
        <div ng-show="dbitem.istail">
            <div ng-repeat="msg in dbitem.messages" class="message"> Msg : {{msg}}</div>
        </div>
        <div ng-show="dbitem.isstats">
            <table>
                <tr ng-repeat="(value, count) in dbitem.stats">
                    <td>{{value}}</td>
                    <td>{{count}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>
